### In Class Assignment A
For each column in the dataset below:
1. identify
1. compute
1. justify 

which of the 

- mean
- median
- mode 

is the best measure of the average of the data.

In [2]:
import pandas as pd

df = pd.DataFrame({'x': [-10, 10, -10, 10, -10, 10],
                   'y': [.1, 1, 10, 100, 1000, 10000],
                   'zip code': [2215, 2215, 2215, 2215, 2215, 90210]})

df

    x        y  zip code
0 -10      0.1      2215
1  10      1.0      2215
2 -10     10.0      2215
3  10    100.0      2215
4 -10   1000.0      2215
5  10  10000.0     90210

In [3]:
df.median(axis = 0)

x              0.0
y             55.0
zip code    2215.0
dtype: float64

In [4]:
df.mean(axis = 0)

x               0.000000
y            1851.850000
zip code    16880.833333
dtype: float64

In [5]:
df['x'].value_counts()

-10    3
 10    3
Name: x, dtype: int64

In [6]:
df["y"].value_counts()

0.1        1
1.0        1
10.0       1
100.0      1
1000.0     1
10000.0    1
Name: y, dtype: int64

In [7]:
df["zip code"].value_counts()

2215     5
90210    1
Name: zip code, dtype: int64

## In Class Assignment B

    set A: 4, 6, 8, 6, 2, 10

    set B: -100, 100, -100, 100

1. Using your intuition and the definitions of sample mean and sample variance, tell which set:
- has the largest sample mean
- has the largest sample variance

2. Then, with pencil and paper, compute the sample mean and sample variance of each.

3. Finally, use pandas to compute the sample mean and variance of each set to validate your solution

In [11]:
a = [4, 6, 8, 6, 2, 10]
pd.Series(a).var()

8.0

In [10]:
b = [-100, 100, -100, 100]
pd.Series(b).var()

13333.333333333334

## In Class Assignment C

Each of the scatters below shows two features, each with a mean of 0.  Match the scatter above with the covariance matrices below (each scatter corresponds to a unique covariance matrix).

<img src="https://i.ibb.co/kcN8TvM/cov-match.png" alt="Drawing" style="width: 800px;"/>

- A <- 4
- B <- 1
- C <- 2
- D <- 5
- E <- 0
- F <- 3