# DS 2500 Day 12 

Feb 21, 2023

### In Class Assignment 1

Quantitatively, which pair of the following apartments is most similar?

|       | sq ft | bedrooms | bathrooms | toilets |
|-------|------:|---------:|----------:|---------|
| apt 0 |   850 |        2 |         1 | 1       |
| apt 1 |  1000 |        2 |         2 | 2       |
| apt 2 |  1300 |        3 |         2 | 2       |

- Define and clearly explain how you quantify whether two apartments are similar or different
- Build a dataframe and explicilty compute each pair's distance

In [1]:
import pandas as pd
import numpy as np

df_apt = pd.DataFrame({"sq ft": [850, 1000, 1300],
                      "bedrooms": [2, 2, 3],
                      "bathrooms": [1, 2, 2],
                      "toilets": [1, 2, 2]})
df_apt

   sq ft  bedrooms  bathrooms  toilets
0    850         2          1        1
1   1000         2          2        2
2   1300         3          2        2

In [2]:
df_apt.var()

sq ft        52500.000000
bedrooms         0.333333
bathrooms        0.333333
toilets          0.333333
dtype: float64

In [3]:
for feat in df_apt.columns:
    df_apt[feat] = df_apt[feat] / df_apt[feat].std()

del df_apt["toilets"]
df_apt.var()

sq ft        1.0
bedrooms     1.0
bathrooms    1.0
dtype: float64

In [4]:
dist01 = np.linalg.norm(df_apt.iloc[1, :] - df_apt.iloc[0, :])
dist12 = np.linalg.norm(df_apt.iloc[1, :] - df_apt.iloc[2, :])
dist20 = np.linalg.norm(df_apt.iloc[2, :] - df_apt.iloc[0, :])

print(f"dist01: {dist01} \ndist12: {dist12} \ndist20: {dist20}")

dist01: 1.8516401995451033
dist12: 2.171240593367237
dist20: 3.1396087108337016

## In Class Exercise 2

Build a K-NN classifier which estimates whether a passenger on the titanic `survived` given their `age`, `pclass` and `fare` features.
- Discard any passengers which are missing a feature
- Be mindful of scale normalization, you may need to adjust data a bit
- Show the output of your classification as a confusion matrix plot, as shown above

In [ ]:
import sklearn
sklearn.__version__

In [ ]:
df_titanic = sns.load_dataset("titanic")
df_titanic.head()

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd

k = 5
x_feat = ["age", "pclass", "fare"]
y_feat = "survived"

df_titanic = sns.load_dataset("titanic")
df_titanic.dropna(how = "any", inplace = True)

for feat in x_feat:
    df_titanic[feat] = df_titanic[feat] / df_titanic[feat].std()
    
x = df_titanic.loc[:, x_feat].values()
y = df_titanic.loc[:, y_feat].values()

knn_classifier = KNeighborsClassifier(n_neighbors = k)

knn_classifier.fit(x, y)

y_pred = knn_classifier.predict(x)

In [ ]:
conf_mat = confusion_matrix(y = y, y_pred = y_pred)

conf_map_disp = ConfusionMatrixDisplay(conf_mat, display_labels = np.unique(y))
conf_map_disp.plot()

plt.gcf().set_size_inches(7, 7)
plt.grid(False)