In [1]:
import pandas as pd
df_homes = pd.read_csv("Monthly_Sale_Price_of_Single_Family_Homes_in_CT.csv")
df_homes.head()

       Date  Median Sale Price  Average Sale Price     County
0  Jan 2001          393638.73           646535.35  Fairfield
1  Feb 2001          374604.75           652568.27  Fairfield
2  Mar 2001          400118.38           619265.04  Fairfield
3  Apr 2001          396878.55           617362.17  Fairfield
4  May 2001          427616.39           613559.53  Fairfield

In [2]:
df_homes.iloc[0]

Date                   Jan 2001
Median Sale Price     393638.73
Average Sale Price    646535.35
County                Fairfield
Name: 0, dtype: object

from data.gov, this dataset records the average and median sale price of a single family home for each county in connecticut. 

features:
- date: month/year the data was recorded (from 2001 ot present)
- median sale price: of homes in that county
- average sale price: of homes in that county
- county: in ct

in a time with much economic uncertainty, **it's becoming increasingly difficult to buy a home.** on top of the already tumultuous, the supply of homes has decreased. this project aims to explore the trends in single-family home prices over the years. the data in this set looks specifically at connecticut state and ranges from 2001 to the present, which encapsulates the effect of both the pandamic and the recession in 2008. 

using machine learning techniques, it's possible to discover the counties in connecticut that are more stable / fluctuant in their prices and where changes are more elastic. this may provide potential homebuyers some context and narrow their choice of where to move. it's also possible to cluster the data based on county and compare them to each othe: economically speaking, which geographic areas people are pushing/pulling away from?

it may be possible to locate a similar dataset that shows the demographics of homebuyers, as it's been seen that women and people of color struggle much more in such a competitive market (especially on the financial side (obtaining loans, mortgages))

--

i've linked a few articles that illustrate some current issues home-buyers are facing:
- https://www.nytimes.com/2022/11/11/realestate/first-time-buyers-housing-market.html
- https://www.bostonglobe.com/2022/10/07/business/more-people-greater-boston-are-giving-up-buying-house-thats-bad-news-renters/
- https://www.jchs.harvard.edu/blog/homebuying-challenges-tight-housing-market-perspectives-brockton-massachusetts